
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

a{
    text-decoration: none;
}

.product_page{
    max-width: 60%;
    margin: 0 auto;
}
.container{
    min-width: 800px;
    margin: auto 0;
}
h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.product-item{
        background-color: #fff;
        padding: 10px;
        margin: 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product-cart{
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.product-name {
    cursor: pointer;
    color: #333;
    font-size: 1em;
    margin-bottom: 5px; 
}

.product-price {
    color: #008000;
    font-size: 1em; 
    margin-top: 5px; 
    margin-bottom: 10px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.product-item {
    max-width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details {
    overflow: hidden; 
}

.product-description {
    color: #666;
    margin-bottom: 10px;
}

.product-category {
    font-style: italic;
    color: #888;
    margin-bottom: 5px;
}

.product-quantity {
    color: #444;
    font-weight: bold;
}

.product-image {
    max-width: 200px; 
    height: auto; 
    margin-right: 20px; 
    float: center; 
}

.image-detail {
    max-width: 600px; 
    height: auto; 
    margin-right: 20px; 
    float: center; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #483981; 
    color: #fff;
    padding: 10px 0; 
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto; 
    padding: 0 10px;
}

.navbar-brand{  
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center; */
}
.navbar-brand a {
    color: #fff; 
    font-size: 24px; 
    text-decoration: none; 
}

.navbar-nav {
    list-style: none;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}

.navbar-nav .nav-item {
    margin-right: 20px;
    display: inline-block; 
}

.navbar-nav .nav-item a {
    text-decoration: none;
}

.nav-item a {
    font-size: 24px; 
    color: #d4cdcd;
}

.product-container{
    display: flex;
}
.left-block {
    width: 60%; 
    float: left; 
}

.right-block {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.details_description {
    text-align: center; 
}

.details_description p {
    margin: 10px 0; 
}

.deatiled_price{
    font-size: 32px; 
    color: #008000; 
}

.details_description p:last-child {
    font-style: italic;
}
