* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.input_container{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



a{
    text-decoration: none;
}

.product_page{
    max-width: 55%;
    margin: 0 auto;
}


h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.product-item{
        background-color: #fff;
        padding: 10px;
        margin: 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product-cart{
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.product-name {
    cursor: pointer;
    color: #333;
    font-size: 1em;
    margin-bottom: 5px; 
}

.product-price {
    color: #008000;
    font-size: 1em; 
    margin-top: 5px; 
    margin-bottom: 10px;
}
.product-list {
    margin: 0 auto;
    column-gap: 24px; /* Определяем промежуток между колонками */
    display: grid; /* Используем grid layout */
    grid-template-columns: repeat(3, 1fr); 
}

.product-item {
    max-width: 200px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details {
    overflow: hidden; 
}

.product-description {
    color: #666;
    margin-bottom: 10px;
}

.product-category {
    font-style: italic;
    color: #888;
    margin-bottom: 5px;
}

.product-quantity {
    color: #444;
    font-weight: bold;
}

.product-image {
    max-width: 160px; 
    height: auto; 
    float: center; 
}

.image-detail {
    max-width: 100%; 
    min-width: 300px;/* Изображение будет масштабироваться по ширине контейнера */
    height: auto; /* Сохраняем пропорции изображения */
    margin-right: 20px; /* Отступ справа, если необходим */
    float: center; /* Может вызвать проблемы, лучше использовать flexbox или другие методы центрирования */
}


.navbar {
    background-color: #483981; 
    color: #fff;
    padding: 10px 0; 
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto; 
    padding: 0 10px;
}

.navbar-brand{  
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center; */
}
.navbar-brand a {
    color: #fff; 
    font-size: 20px; 
    text-decoration: none; 
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar-nav .nav-item {
    margin-right: 20px;
    display: inline-block; 
}

.navbar-nav .nav-item a {
    text-decoration: none;
}

.nav-item a {
    font-size: 18px; 
    color: #d4cdcd;
}

.product-container{
    display: flex;
}
.left-block {
    min-width: 400px;
    width: 50%; 
    float: left; 
}

.right-block {
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.details_description {
    text-align: center; 
}

.details_description p {
    margin: 10px 0; 
}

.deatiled_price{
    font-size: 32px; 
    color: #008000; 
}

.details_description p:last-child {
    font-style: italic;
}

.sizes-container {
    /* position: sticky;
    max-width: 396px;
    margin: 0px auto;
    top: 0px;
    max-height: 100vh;
    overflow: hidden; */
}

.sizes-list {
    display: grid;
    margin: auto;
    padding: 0px 2px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    max-width: 430px;
}

.size-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 45px;
    color: rgb(26, 26, 26);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.0857143rem;
    line-height: 20px;
    font-weight: 400;
    width: 100%;
    box-shadow: rgb(238, 238, 238) 0px 0px 0px 1px;
}

.size-item:hover{
    font-weight: bold;
}
